#header-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.details-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5px 10px;
}

.search-result-repo-name {
  font-size: 16px;
  font-weight: 700;
  color: #22333b;
  text-overflow: ellipsis;
}

.search-result-repo-organization {
  font-size: 16px;
  font-weight: 700;
  color: #a08566;
  margin: 0;
  text-align: end;
}

.search-result-item-description {
  font-size: 14px;
  padding: 0 20px;
  color: #22333b;
}

.search-results-repo-details {
  font-size: 14px;
  color: #a08566;
  margin: auto 5px;
  font-weight: 600;
}

.search-results-repo-details span {
  color: #22333b;
}

.search-results-repo-details a {
  color: #22333b;
  text-decoration: underline;
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.search-result-repo-button {
  background-color: #22333b;
  font-weight: 600;
  font-size: 14px;
  color: #f7f7f7;
  padding: 5px;
}
.search-result-repo-button:hover {
  background-color: #a08566;
  color: #f7f7f7;
  transition: 500ms ease-in;
}
