<div class="media" *ngFor="let repo of repos">
  <div class="px-4 media-body">
    <div id="header-row">
      <p class="search-result-repo-name">{{ repo.repo_name }}</p>
      <p class="search-result-repo-organization">{{ repo.owner }}</p>
    </div>
    <div class="details-row">
      <p class="search-results-repo-details">
        Language: <span> {{ repo.language }}</span>
      </p>
      <p class="search-results-repo-details">
        Homepage:
        <span>
          <a
            href="{{ repo.homepage }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ repo.homepage }}</a
          ></span
        >
      </p>
      <p class="search-results-repo-details">
        Star Gazers: <span>{{ repo.stargazers }}</span>
      </p>
    </div>

    <p class="search-result-item-description">
      {{ repo.bio }}
    </p>

    <div class="button-row">
      <a
        href="{{ repo.html_url }}"
        target="_blank"
        class="btn btn-sm search-result-repo-button"
        >View in GitHub</a
      >
    </div>
    <hr class="border-dark w-75 mx-auto mt-2 mb-4" />
  </div>
</div>
