<div class="media search-result-item">
  <div class="media-body">
    <div id="header-row">
      <p class="search-result-repo-name">Repository Result Item</p>
      <p class="search-result-repo-organization">Organization</p>
    </div>
    <div class="details-row">
      <p class="search-results-repo-details">Owner: <span> John Doe</span></p>
      <p class="search-results-repo-details">
        Homepage:
        <span>
          <a
            href="http://www.github.com"
            target="_blank"
            rel="noopener noreferrer"
            >www.github.com</a
          ></span
        >
      </p>
      <p class="search-results-repo-details">Star Gazers: <span>3</span></p>
    </div>

    <p class="search-result-item-description">
      Will you do the same for me? It's time to face the music I'm no longer
      your muse. Heard it's beautiful, be the judge and my girls gonna take a
      vote. I can feel a phoenix inside of me. Heaven is jealous of our love,
      angels are crying from up above. Yeah, you take me to utopia.
    </p>

    <div class="button-row">
      <button class="btn btn-sm search-result-repo-button">View</button>
    </div>
  </div>
</div>
