<div class="row mt-3 mx-auto">
  <div class="head-column">
    <div class="head-row">
      <div class="user-image-holder rounded-circle border-dark">
        <img
          class="user-image rounded"
          src="https://images.pexels.com/photos/944773/pexels-photo-944773.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000"
          alt=""
        />
      </div>
      <div class="details-column">
        <div class="user-name-container">
          <p class="user-name">John Doe</p>
        </div>
        <div class="user-name-container">
          <p class="user-twitter mb-0">@JohnDoe</p>
        </div>
        <div class="user-name-container">
          <p class="user-twitter mt-0">johndoe@example.com</p>
        </div>
        <div class="user-details-row">
          <div class="detail-container w-100 mx-auto">
            <p class="detail-label">Followers</p>
            <p class="detail-text">20</p>
          </div>
          <div class="detail-container w-100 mx-auto">
            <p class="detail-label">Following</p>
            <p class="detail-text">14</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="head-column m-auto">
    <div class="user-details-row w-100">
      <div class="detail-container w-100 mx-auto">
        <p class="detail-label">Joined</p>
        <p class="detail-text">20 August 2010</p>
      </div>
      <div class="detail-container w-100 mx-auto">
        <p class="detail-label">Location</p>
        <p class="detail-text">Nairobi Kenya</p>
      </div>
    </div>
    <div class="user-details-row">
      <div class="detail-container w-100 mx-auto">
        <p class="detail-label">Repositories</p>
        <p class="detail-text">20</p>
      </div>
      <div class="detail-container w-100 mx-auto">
        <p class="detail-label">Hireable</p>
        <p class="detail-text">Yes</p>
      </div>
    </div>
    <!-- <div class="visit-row my-auto">
      <button class="btn btn-dark btn-sm w-100">Go To GitHub Profile</button>
    </div> -->
  </div>
</div>

<div class="container mt-5">
  <div class="col">
    <div class="bg-light rounded p-3 shadow">
      <app-repo-item></app-repo-item>
    </div>
  </div>
</div>
