<div class="header-upper mt-5 mb-0">
  <button (click)="loadPrevPage()" class="h6 btn btn-sm p-0 font-weight-bolder">
    GO BACK
  </button>
  <p class="h2 font-weight-bold">{{ authenticatedUser.name }}</p>
</div>

<div class="row mt-3 mx-auto">
  <div class="head-column">
    <div class="head-row">
      <div class="user-image-holder rounded-circle border-dark">
        <img
          class="user-image rounded"
          src="{{ authenticatedUser.avatar }}"
          alt="{{ authenticatedUser.name }}"
        />
      </div>
      <div class="details-column">
        <div class="user-name-container">
          <p class="user-name">{{ authenticatedUser.name }}</p>
        </div>
        <div class="user-name-container">
          <p class="user-twitter mb-0">
            Twitter: {{ authenticatedUser.twitter }}
          </p>
        </div>
        <div class="user-name-container">
          <p class="user-twitter mt-0">Email: {{ authenticatedUser.email }}</p>
        </div>
        <div class="user-details-row">
          <div class="detail-container w-100 mx-auto">
            <p class="detail-label">Followers</p>
            <p class="detail-text">{{ authenticatedUser.followers }}</p>
          </div>
          <div class="detail-container w-100 mx-auto">
            <p class="detail-label">Following</p>
            <p class="detail-text">{{ authenticatedUser.following }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="head-column m-auto">
    <div class="user-details-row">
      <div class="detail-container w-100 mx-auto">
        <p class="detail-text font-weight-bold flex-wrap">
          {{ authenticatedUser.bio }}
        </p>
      </div>
    </div>
    <div class="user-details-row">
      <div class="detail-container w-100 mx-auto">
        <p class="detail-label">Repositories</p>
        <p class="detail-text">{{ authenticatedUser.total_repos }}</p>
      </div>
      <div class="detail-container w-100 mx-auto">
        <p class="detail-label">Hireable</p>
        <p class="detail-text">{{ authenticatedUser.hireable }}</p>
      </div>
    </div>

    <div class="visit-row my-auto">
      <a
        href="{{ authenticatedUser.github_url }}"
        target="_blank"
        class="btn btn-dark btn-sm w-100"
        >Go To GitHub Profile</a
      >
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="col">
    <div class="bg-light rounded p-3 shadow">
      <app-repo-item [repos]="authenticatedRepositories"></app-repo-item>
    </div>
  </div>
</div>
