<div class="media search-result-item">
  <div class="media-body">
    <div id="header-row">
      <p class="search-result-user-name">User Result Item</p>
      <p class="search-result-user-location">Location</p>
    </div>
    <div class="details-row">
      <p class="search-results-user-email">
        Email: <span> johndoe@example.com</span>
      </p>
      <p class="search-results-user-twitter">
        Twitter: <span> @john_doe</span>
      </p>
      <p class="search-results-user-company">
        Company: <span> JD Technologies Inc.</span>
      </p>
      <p class="search-results-user-hirable">
        Looking for Work: <span>YES</span>
      </p>
    </div>

    <p class="search-result-item-description">
      Will you do the same for me? It's time to face the music I'm no longer
      your muse. Heard it's beautiful, be the judge and my girls gonna take a
      vote. I can feel a phoenix inside of me. Heaven is jealous of our love,
      angels are crying from up above. Yeah, you take me to utopia.
    </p>

    <div class="button-row">
      <button class="btn btn-sm search-result-user-button">View</button>
    </div>
  </div>
</div>
