<div class="hero-container">
  <div class="hero-text">
    <p class="hero-title">
      Where Talented Developers, Open Source Projects and Visionaries thrive.
    </p>
    <p class="hero-subtitle">
      Are you a visionary have the perfect project or you a developer itching to
      use your hard earned skills for social good? <br /><br />
      If you answered yes then you are in the perfect place. We aim to help both
      personas meet and collaborate on innovative projects with GitHub. All you
      need to do is search.
    </p>
    <div class="hero-button-container py-auto">
      <form class="row hero-form" #token="ngForm" (ngSubmit)="onSubmit(token)">
        <div class="input-group mb-3">
          <input
            ngModel
            #token="ngModel"
            name="token"
            type="text"
            class="form-control"
            placeholder="Enter Github API token..."
            aria-label="token"
            aria-describedby="basic-addon2"
            required
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"
              ><button class="btn btn-sm" type="submit">
                Click to Start
              </button></span
            >
          </div>
        </div>
      </form>
      <a class="hero-cta btn btn-sm" href="/search-query">Search Now</a>
    </div>
  </div>
  <div class="hero-img-container">
    <img src="assets/LandingImg.png" alt="" class="hero-img" />
  </div>
</div>
