.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text img";
  margin: 0 30px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.hero-text {
  grid-area: text;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 28px;
  font-weight: 800;
  text-align: end;
  color: #22333b;
}

.hero-subtitle {
  font-size: 14px;
  text-align: end;
  color: #5e503f;
}

.hero-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
}

.hero-cta {
  justify-content: flex-end;
  background-color: #22333b;
  color: #eae0d5;
  font-weight: 700;
  font-size: 13px;
  margin: 0 auto;
  height: 30px;
}
.hero-cta:hover {
  background-color: #c6ac8f;
  color: #22333b;
  transition: 500ms ease-in;
}

.hero-form span {
  justify-content: flex-end;
  background-color: #f7f7f7;
  color: #22333b;
  border: transparent solid 0;
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  height: 30px;
}

.hero-form button {
  font-size: 12px;
  border-radius: 5px 5px 0 0;
  border: 0 solid transparent;
  font-weight: 600;
}

.hero-form input {
  justify-content: flex-end;
  background-color: #f7f7f7;
  color: #22333b;
  border: transparent solid 0;
  font-size: 12px;
  margin: 0;
  height: 30px;
}

.hero-img-container {
  grid-area: img;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.hero-img {
  margin: auto;
  width: 90%;
}

@media screen and (max-width: 576px) {
  .hero-container {
    grid-template-columns: 1fr;
    height: 90vh;
    grid-template-rows: 1fr;
    grid-template-areas: "text";
  }
  .hero-text {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 20px auto;
  }

  .hero-img-container {
    display: none;
  }

  .hero-title {
    text-align: center;
    width: 80vw;
  }
  .hero-subtitle {
    text-align: center;
  }
  .hero-button-container {
    justify-content: center;
  }

  .hero-cta {
    justify-content: center;
    margin: auto;
  }
}
